
@model Avensia.Data.Models.ProductPrice
<tr>
    <td>
        @Html.HiddenFor(m => m.Id)
        @Html.EditorFor(m => m.QuantityFrom)
        @Html.ValidationMessageFor(m => m.QuantityFrom, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(m => m.QuantityTo)
        @Html.ValidationMessageFor(m => m.QuantityTo, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(m => m.Delete)
    </td>
</tr>